<form name="container-form" class="mt-4" method="POST" action="/courses/handle-form-actions">
  <div>
    <h3 class="text-center">Khóa học của tôi</h3>
    <a href="/me/trashed/courses">Xem các khóa học đã xóa gần đây [{{deletedCount}}]</a>
    
    <div class="mt-4 d-flex align-items-center">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
        <label class="form-check-label" for="checkbox-all">
          Chọn tất cả
        </label>
      </div>

      <select class="form-control form-control-sm" name="action" style="width: 160px; margin: 0 16px;" required>
        <option value="">-- Chọn thao tác --</option>
        <option value="delete">Xóa</option>
      </select>

      <button class="btn btn-primary btn-sm btn-thuc-hien" disabled>Thực hiện</button>

    </div>
  </div>

  <table class="table mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">STT</th>
        <th scope="col">Tên khóa học {{{sortable 'name' _sort}}}</th>
        <th scope="col">Trình độ {{{sortable 'level' _sort}}}</th>
        <th scope="col">Thời gian tạo {{{sortable 'createdAt' _sort}}}</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
        <tr>
          <td>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="{{this._id}}" name="courseIds[]">
            </div>
          </td>
          <th scope="row">{{sum @index 1}}</th>
          <td>{{this.name}}</td>
          <td>{{this.level}}</td>
          <td>{{this.createdAt}}</td>
          <td>
            <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
            <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-course-modal">Xóa</a>
          </td>
        </tr>
        {{else }}
        <tr>
          <td colspan="5" class="text-center">
              Bạn chưa thêm khóa học nào!
              <a href="/courses/create">Thêm ngay</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</form>

<!-- Modal -->
<div
  class="modal fade"
  id="delete-course-modal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cảnh báo !</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bạn có chắc chắn muốn xóa khóa học này không ?
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-danger"
          data-dismiss="modal"
        >Hủy bỏ</button>
        <button id="btn-delete-course" type="button" class="btn btn-primary">Đồng ý</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete Hidden Form --}}
<form id="delete-course-form" method="POST"></form>


<script>

    // Khi DOM load xong thì mới xử lý function
    document.addEventListener('DOMContentLoaded', function() {

        const containerForm = $('form[name="container-form"]')

        let courseId;
        const deleteCourseForm = document.querySelector('#delete-course-form')
        const btnDeleteCourse = document.querySelector('#btn-delete-course')

        const checkboxAll = $('#checkbox-all')
        const courseItemCheckbox = $('input[name="courseIds[]"]')
        
        const btnThucHien = $('.btn-thuc-hien')

        // Xử lý khi click vào nút Xóa
        $('#delete-course-modal').on('show.bs.modal', function (event) {
          const button = $(event.relatedTarget) 
          courseId = button.data('id')
        })

        // Xử lý khi click vào nút "Đồng ý"
        btnDeleteCourse.addEventListener('click', function() {
            deleteCourseForm.action = '/courses/' + courseId + '?_method=DELETE'
            deleteCourseForm.submit()
        })

        // Xử lý khi bấm Checkbox All 
        checkboxAll.change(function() {
          let isCheckedAll = $(this).prop('checked')
          courseItemCheckbox.prop('checked', isCheckedAll)
          renderCheckAllSubmitBtn()
        })

        // Xử lý khi click vào các nút con
        courseItemCheckbox.change(function() {
          let isCheckedAll = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length
          checkboxAll.prop('checked', isCheckedAll)
          renderCheckAllSubmitBtn()
        })

        // Khi click vào nút "Thực hiện"
        containerForm.on('submit', function(e) {
          const isSubmitable = !btnThucHien.hasClass('disabled')
          if(!isSubmitable) {
            e.preventDefault()
          }
        })

        // Render lại
        function renderCheckAllSubmitBtn() {
          const checkedCount = $('input[name="courseIds[]"]:checked').length
          if(checkedCount > 0) {
            btnThucHien.attr('disabled', false)
          }
          else {
             btnThucHien.attr('disabled', true)
          }
        }

    })
    
</script>